#style1 {
	border-top: 3px double #8c8b8b;
}

#style2 {
	border-top: 1px dashed #8c8b8b;
}
#fname{
	border-radius: 2px;
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.question{
	height: 50px;
}

#reply{
	width: 80%;
    border-radius: 2px;
	height: 100px;
    overflow: hidden;
    word-wrap: break-word;
    resize : none;
    padding: 12px 20px;
    margin: 8px 0;
}

#formstyle{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
}

#forumcontent{
	width: 760px;
    padding: 20px;
    border: 3px solid gray;
    margin: 0;
}

#datepadding{
    padding-right: 10px;
}