li.nav-hover:hover{
    background-color: #337ab7;
    transition: box-shadow .25s;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.1);
}
.navbar-default .navbar-nav > li > a {
    color: #222222;
}
.modal-header{
    background-color: #337ab7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal{
    top: 5%;
}

.upload_button:hover{
	background-color: black;
	color: white;
	z-index: 2;
}
.form-control{
	width: 400px;
}
.select{
	margin-left: 375px;
}
/*.home-text{
	position: absolute;
	animation:move 4s linear infinite alternate;
	margin-left: 500px;
	font-size: 10px;
}
@keyframes move{
	from{
		z-index:1;
		transform:scale(1); 
	}
	to{
		z-index: 5;
		transform:scale(1.2);
	}
}*/
#search_items a:hover {
    background-color:#8181F7;
    color:white;
}
.fb_button{
	margin-left: 200px;
}

#question label {
    color:#ffffff;
    padding:3px 6px;
    margin-top:1px;
    display:block;

    background: #adadad; /* Old browsers */
    background: -moz-linear-gradient(top,  #0f0f0f 0%, #0f0f0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f0f0f), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0f0f0f 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0f0f0f 0%,#0f0f0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0f0f0f 0%,#0f0f0f 100%); /* IE10+ */
    background: linear-gradient(top,  #0f0f0f 0%,#0f0f0f 100%); /* W3C */
    border-right-width: 1px;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    width: 100%;
    cursor: hand; cursor: pointer;

}

#question input {
    display: none;
}

#question input:checked + label {
    color:#FFFFFF;
    font-weight:bold;
    background: #396B9E; /* Old browsers */
    background: -moz-linear-gradient(top,  #5F9CC5 0%, #396B9E 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5F9CC5), color-stop(100%,#396B9E)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5F9CC5 0%,#396B9E 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5F9CC5 0%,#396B9E 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5F9CC5 0%,#396B9E 100%); /* IE10+ */
    background: linear-gradient(top,  #5F9CC5 0%,#396B9E 100%); /* W3C */

}


#question input:disabled + label {
    color:#FFFFFF;
    font-weight:bold;
    background: #777777; /* Old browsers */
    background: -moz-linear-gradient(top,  #777777 0%, #777777 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#777777)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #777777 0%,#777777 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #777777 0%,#777777 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #777777 0%,#777777 100%); /* IE10+ */
    background: linear-gradient(top,  #777777 0%,#777777 100%); /* W3C */

}
#map{
    width:100px;
    height:100px;
    margin-left: 900px;
}
#upload-report{
    margin-left: 300px;
}
#uploaded-report{
    margin-left: -80px;
}