.over{
    height: 200px;
    background-color: #337ab7;
}
#upload{
    width: 380px;
    height: 150px;
    //background-color: green;
    color: black;
    margin-left: 480px;
    border-radius: 5px;
    border: 2px solid #999;
    margin-top: -45px;
}
.final{
    font-family: 400;
    font-size: 1.4em;
}
.back{
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    color: black;
}
 #mapCanvas {
    width: 500px;
    height: 400px;
    float: left;
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
  #login-box{
    margin-top: -5px;
    margin-left: 850px;
    width: 450px;
  }
  #fb-btn{
    margin-left: 170px;
    width:250px; 
  }
  .form{
    margin-left: -60px;
  }
  .map-marker{
    margin-left: 400px;
    margin-top: -600px;
  }
  .forum-link{
    margin-top: 4px;
    width: 250px;

  }
  #forum-links{
    margin-left: -500px;
  }
